:root {
  --panel-w: 20em;
  --color-muni: #0000dc;
}

.app {
  @apply absolute;
  @apply .pin-y;
  @apply pin-r;
  @apply pin-l;

  .io-wrapper {
    @apply mx-auto;
    @apply flex;
    .input-wrapper,
    .output-wrapper {
      @apply w-1/2;
      @apply m-5;
      @apply h-screen;
    }
    .input-wrapper {
      textarea {
        width: 100%;
        height: 100%;
      }
    }

    .input-wrapper textarea,
    .output-wrapper .output-html {
      border: 2px solid black;
      padding: 1rem;
      margin: 1rem 0;
    }
  }
}
