:root {
  --panel-w: 20em;
}

button {
  @apply text-white;
  @apply font-bold;
  @apply text-xs;
  @apply py-2;
  @apply px-3;
  @apply rounded;
  @apply m-2;
}

button.primary {
  @apply bg-muni;
}
button.secondary {
  @apply bg-secondary;
}
button.danger {
  @apply bg-danger;
}
button.success {
  @apply bg-success;
}

.app {
  @apply absolute;
  @apply .pin-y;
  @apply pin-r;
  @apply pin-l;

  .io-wrapper {
    @apply mx-auto;
    @apply flex;
    .input-wrapper,
    .output-wrapper {
      @apply w-1/2;
      @apply m-2;
      @apply h-screen;
    }
    .input-wrapper {
      textarea {
        width: 100%;
        border: 1px solid black;
      }
    }
  }
}

/* DISSINET STYLES */
.output-wrapper {
  div.line {
    margin-bottom: 2rem;
    &.solid {
      border-bottom: 2px solid black;
    }
    &.dotted {
      border-bottom: 2px dotted black;
    }
  }
  p {
    margin-bottom: 1rem;
  }
  span {
    &.text-italic {
      font-style: italic;
    }
    &.text-bold {
      font-weight: bold;
    }
    &.text-strikethrough {
      text-decoration: line-through;
    }
    &.text-underline {
      text-decoration: underline;
    }
  }

  p.indent {
    text-indent: 1rem;
  }
  ul.list {
    li {
    }
  }
}
